{% extends "base.html" %} {% block title %}Filter by Author{% endblock %} {% block content
    %}
    <h1 align="center">Filter by Author</h1>


    <form class="form-inline" method="POST" action="{{ url_for('views.filter') }}">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"></span>
                <select name="comp_select" class="selectpicker form-control">
                  <option value="none">Filter books by Author</option>
                  {%for i in list_of_authors%}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
        </div>
        <button type="submit" class="main-button">Filter by Author</button>
      </div>
    </form>

    <form class="form-inline" method="POST" action="{{ url_for('views.filterYear') }}">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"></span>
                <select name="years" class="selectpicker form-control">
                  <option value="none">Filter books by year</option>
                  {%for i in list_of_years%}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
        </div>
        <button type="submit" class="main-button">Filter by Year</button>
      </div>
    </form>



    

    
  {% endblock %}