{% extends "base.html" %} {% block title %}Update a Book{% endblock %} {% block content
    %}
    <h1 align="center">Update a Book</h1>
    <form  action="/update/{{name_to_update.id}}" enctype="multipart/form-data"  method="POST"  class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label  style="color:white" for="validationTooltip01">Title</label>
            <input name="title" id="title" type="text" class="form-control" id="validationTooltip01" value="{{name_to_update.title}}" required></input>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label style="color:white"  for="validationTooltip02">Author</label>
            <input name="author" id="author" type="text" class="form-control" id="validationTooltip02" value="{{name_to_update.author}}" required></input>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label style="color:white" for="validationTooltip02">Year</label>
            <input name="year" id="year" type="number" class="form-control" id="validationTooltip02" value="{{name_to_update.year}}" required></input>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
         
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label style="color:white"  for="validationTooltip03">Link of the Cover</label>
            <input name="image" id="image" type="text" class="form-control" id="validationTooltip03" value="{{name_to_update.image}}" required>
            <div class="invalid-tooltip">
              Please provide a Link of the cover .
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label  style="color:white" for="validationTooltip04">Edition</label>
            <input name="edition" id="edtion" type="number" class="form-control" id="validationTooltip04" value="{{name_to_update.edition}}" required>
            <div class="invalid-tooltip">
              Please provide a Edition.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label style="color:white"  for="validationTooltip05">Stock</label>
            <input name="amount" id="amount" type="number" class="form-control" id="validationTooltip05" value="{{name_to_update.amount}}" required>
            <div class="invalid-tooltip">
              Please provide a stock.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>

{% endblock %}